# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
coverage/
docs/

# Ignore tsc dist folder
dist/

# Ignore JavaScript files
**/*.js
**/*.mjs
**/*.js.map
**/*.d.ts
!src/**/*.d.ts
**/*.tsbuildinfo
!jest.config.js

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json

# Ignore the GH cli downloaded by workflows
gh

# Ignore the "wiki" folder so we can checkout the wiki inside the same folder
wiki/