{
	"$schema": "http://json.schemastore.org/prettierrc",
	"endOfLine": "lf",
	"printWidth": 150,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true
}
